<!DOCTYPE html>
<html>
  <head>
    <!--     _____             __ __
            |  __ \           / _| |
            | |  | |_ __ __ _| |_| |_
            | |  | | '__/ _` |  _| __|
            | |__| | | | (_| | | | |_
            |_____/|_|  \__,_|_|  \__|  by Tobias Herber(@tobihrbr) 
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Draft</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#784BA0">
    <link rel="stylesheet" href="https://atlas.draft.gq/main.css" />
  </head>
  <body>
    <div class="main">
      <div class="main-inner">
        <div class="main-content">
          <h3>Draft</h3>
          <h1>A new home for your Gists.</h1>
          <br><br>
          <input type="text" id="url" placeholder="gist url"><br>
          <input type="text" id="draft" placeholder="draft url" readonly>
        </div>
      </div>
    </div>

    <div class="more">
      <h2>Why?</h2>
      <p>Github's Gists are a really nice tool to store all sorts of things. Draft simplifies the viewing experience.<br />It's a simple view layer for public gists.</p>
      <h2>Does it support private gists?</h2>
      <p>Nope.</p>
      <h2>How can I contact you?</h2>
      <p>Tweet me (I am <a target="_blank" href="https://twitter.com/tobihrbr">@tobihrbr</a>).</p>
      <h2>Where is the source?</h2>
      <p><a target="_blank" href="https://github.com/herber/draft">herber/draft</a></p>
    </div>

    <div class="footer">
      made with ❤ by <a target="_blank" href="https://twitter.com/tobihrbr">Tobias Herber</a>
    </div>
    
    <script type="text/javascript" src="https://atlas.draft.gq/gist.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90549834-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-90549834-5');
    </script>
  </body>
</html>
